<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Root Config</title>
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="
    default-src 'self' https: localhost:*;
    script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*;
    connect-src https: localhost:* ws://localhost:* ws://192.168.1.3:9003/;
    style-src 'unsafe-inline' https: localhost:*;
    style-src-elem 'unsafe-inline' https: localhost:*;
    object-src 'none';
    "
    />
    <meta name="importmap-type" content="systemjs-importmap" />
    <script
      type="systemjs-importmap"
      src="./importmaps/dependencies.json"
    ></script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
      crossOrigin="anonymous"
    />

    <% if (isLocal) { %>
    <script type="systemjs-importmap" src="./importmaps/local.json"></script>
    <% } else { %>
    <script type="systemjs-importmap" src="./importmaps/server.json"></script>
    <% } %>
    <script src="https://unpkg.com/zone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.7.0/dist/extras/amd.min.js"></script>
  </head>

  <body>
    <section>
      <aside id="sidebar"></aside>
    </section>
    <section>
      <header id="header"></header>
    </section>

    <main id="main"></main>

    <script>
      System.import("@mfe/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
